{% extends 'mainbase.html' %}
{%block title%}
Leadership page
{%endblock%}
{%block content%}
{%load static%}
<div class="container-fluid">
    <div>
        <img src="https://www.nttftrg.com/sites/default/files/2020-06/29dc6a23cbcf9b962a0ad98b699d9e22_1.jpg" class="img-fluid" style="width:210vh" alt="Responsive image">
    </div>
    <div class="mt-3">
        <h1 class="text-primary mb-3">Leadership</h1>
        <div class="card-deck">
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2020-05/0ac1d1ce824b15f8c06a2f4694c1ffb3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dr. N. Reguraj</h5>
                <p class="card-text">Managing Director</p>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                Read More
              </button>
              <div class="modal fade" id="myModal1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Dr. N. Reguraj , Managing Director, NTTF</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Dr. Reguraj is a BE (Mechanical) from Guindy Engineering College, Chennai, (now called Anna University). He started his career at TANSI Tool Room and then moved on to NTTF. His journey continues as the Managing Director of NTTF.
                        <br><br>
                        As a visionary leader, he played a vital role in building NTTF; which starting off as a small training Center in a remote corner of Kerala, has today blossomed into a multi-location, multi-discipline training foundation.
                        <br><br>
                        The role-played by Dr. Reguraj in all these activities is of no mean measure. He has done yeoman’s service in the development of NTTF. Mr. Reguraj is the guiding light for the progress of the organization.
                        <br><br>
                        Dr. Reguraj is the Founder Chairman of Tool and Gauge Manufacturers Association-India known as TAGMA. He is also the Chairman of the Federation of Asian Die & Mould Association known as FADMA. Mr. Reguraj is on the Board of reputed companies in India and abroad.                        
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>

            </div>
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2020-05/8708f8a23a7f6f313babd9e20dd0353f.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mr. R Rajagopalan</h5>
                <p class="card-text">Joint Managing Director</p>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                Read More
              </button>
              <div class="modal fade" id="myModal2">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Mr. R Rajagopalan , Joint Managing Director, NTTF</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Chartered Accountant by profession after completing his Mathematics Graduation.
                        <br><br>
                        Realising that practicing as a Chartered Accountant would not suit to his values and behaviour, took up employment.
                        <br><br>
                        After a few years with BPL joined NTTF in 1979, inspired with its objectives of providing employable skill-oriented training for youth and also the capability of making precision tools and components. With his uncanny ability to understand the activities around him, developed a passion to learn more.
                        <br><br>
                        The encouragement with full faith given by the Management of NTTF enabled him to exhibit his talent which helped him to climb the ladder with significant contribution on many difficult situations.
                        <br><br>
                        Played major roles for the growth of the Organization by establishing overseas Collaborations in the area of manufacturing.
                        <br><br>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>

            </div>
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2020-05/9548ecace02cca2cd5b1ff3a84e01e62.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mr. B V Sudharshan</h5>
                <p class="card-text">Deputy Managing Director</p>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                Read More
              </button>
              <div class="modal fade" id="myModal3">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Mr. B V Sudharshan , Deputy Managing Director, NTTF</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Mr Sudharshan has done his BE Mechanical engg from SIT, Tumkur and ME Mechanical engg from UVCE, Bangalore University.
                        <br><br>
                        He is a senior professional in Operations Management, Lean Management and Supply Chain Management with over 24 years of sound experience in Automotive, Engineering Industries and Multinational companies. He has previously worked with companies like Bosch, Volvo , Knorr Bremse and Kirloskar Electric both in India and abroad in Germany and USA at various Senior Management positions.
                        
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
              
            </div>
            <div class="card">
                <img src="https://www.nttftrg.com/sites/default/files/2020-06/arulselvan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mr. N Arulselvan</h5>
                  <p class="card-text">Management Advisory Council</p>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
                    Read More
                </button>

                <div class="modal fade" id="myModal4">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                      
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Mr. N Arulselvan , Management Advisory Council, NTTF</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            N. Arulselvan has been with NTTF for the past 25 years. He is an Electronics and Telecommunications Engineer, who graduated from Guindy Engineering College, Chennai, (now called Anna University).
                            <br><br>
                            He brings international training expertise to NTTF due to his various assignments in countries such as Zimbabwe, Yemen and Malaysia. Formerly he was with the International Telecommunication Union (ITU), Geneva, and carried out several United Nations (UN) sponsored training projects in many countries.
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            <div class="card">
                <img src="https://www.nttftrg.com/sites/default/files/2020-06/venugopal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mr. K Venugopal</h5>
                  <p class="card-text">Management Advisory Council</p>
                </div>
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                    Read More
                </button>
                <div class="modal fade" id="myModal5">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                      
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Mr. K Venugopal , Management Advisory Council, NTTF</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            K.Venugopalan, B.E., PGTE has been associated with NTTF since 1982. He took care of training and certification activities, holding the post of Director & COO. He joined NTTF as a Manager (Trg.) for PG courses and subsequently served as Principal, GM and Director.
                            <br><br>
                            He is a fellow member of Institution of Engineers and QCFI. He is a Rotarian and Past-President of Rotary Club, Tellicherry. He represented India as a Technical Delegate for four World skills completions spread over 8 years. He has been honored as “Honorary Member of World skills International’ in 2017.
                            <br><br>
                            He is a professional trainer in Tooling subjects, as well as soft skills.
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div> 
    </div>

    <div class="ml-5 mr-5 mt-5">
        <h3 class="text-primary mb-4">Support Department</h3>
        <p>
            The NTTF has grown substantially with a strong footprint across India, having around 30 training centers including Corporate Partner centers. The NTTF Support Departments play a key role in managing the large student strength from the core training centers across all the NTTF centers. We also manage various custom-built training programs at our partner clients’ centers.
            <br><br>
            The support departments are located in Bangalore and are vital for the success of the organisation. Each of these departments is led by a head along with other team members who coordinate with the various training centers across India on a day-to-day basis.
            <br><br>
            The support departments are listed below:
            <br><br>
            Corporate Office<br>
            Assessment & Evaluation<br>
            Accounting & Finance Department<br>
            Human Resource Department<br>
            Business Development<br>
            Corporate Training<br>
            Skill Development<br>
            Technology Department<br>
        </p>

    </div>
</div>
{%endblock%}