{% extends 'mainbase.html' %}
{%block title%}
Recognition page
{%endblock%}
{%block content%}
{%load static%}
<div class="container-fluid">
    <div>
        <img src="https://www.nttftrg.com/sites/default/files/2021-12/University%20Recognition.jpg" class="img-fluid" style="width:210vh" alt="Responsive image">
    </div>
    <div class="ml-5 mr-5">
        <h3 class="text-primary mt-4">About</h3>
        <p>The Nettur Technical Training Foundation (NTTF) was established in 1959. We have been contributing to technical skill development in India, helping to build a better skilled nation for more than 60 years. We have a Pan-India presence with 60+ training centres in different locations across India and we train nearly 20,000+ students. We offer various technical Diploma, Postgraduate Diploma and Postgraduate Degree programs.<br><br>

        Through our collaboration with the National Skill Development Corporation (NSDC), we train around 5,000 students every year and help students to acquire the best of technical knowledge and skills. National Skill Development Corporation (NSDC) is a not-for-profit public limited company set up by Ministry of Skill Development & Entrepreneurship (MSDE), Government of India. More than 50,000 students have pursued technical diploma programs at NTTF and completed graduation in the past 6 decades. Our 13 core training centres are mainly located in Tier 2 cities across India and we are also providing alternative employment options with a decent livelihood in 250 districts, covering 4,000 villages every year.</p>
    </div>
    <div class="ml-5 mr-5 mt-5">
        <h3 class="text-primary mt-4">Recognition for the Diploma Programs Offered</h3>
        <div class="card-deck mt-5">
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2021-07/HITS%20logo.png" class="card-img-top" style="height:15vh;width:45vh;margin-left:5vh" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hindustan Institute of Technology & Science, Chennai</h5>
                <p class="card-text">We offer a lateral entry program from the Hindustan Institute of Technology and Science (HITS), Chennai, to our students. NTTF diploma holders are eligible for admission into B.E programs at Hindustan Deemed University. It is done through a lateral entry program of the university.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2021-07/lingaya.png" class="card-img-top" style="height:15vh;width:15vh;margin-left:20vh"  alt="...">
              <div class="card-body">
                <h5 class="card-title">Lingaya’s Vidyapeeth, Faridabad</h5>
                <p class="card-text">Our students are offered a lateral entry program from Lingaya’s Vidyapeeth, Faridabad. NTTF diploma holders are eligible for admission into B.E programs at Lingaya’s Vidyapeeth. It is done through a lateral entry program of the university.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://www.nttftrg.com/sites/default/files/2020-08/vit.png" class="card-img-top" style="height:15vh;width:55vh;margin-left:3vh" alt="...">
              <div class="card-body">
                <h5 class="card-title">VIT, Vellore Institute Of Technology, Vellore</h5>
                <p class="card-text">Our Students are offered B.Voc from VIT, Vellore Institute Of Technology.</p>
              </div>
            </div> 
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="mt-5" style="float:left">
            <img src="https://www.nttftrg.com/sites/default/files/styles/large/public/2020-06/e9475afd716599cfb24707a640e28214_0.jpg?itok=g4zpw1aa" style="height:50vh;width:78vh">
          </div>
          <div class="w-50 mt-5" style="float:right;">
            <h6 class="ml-5 p-2 mt-1 text-primary" style="background-color:lightgray;height:5vh" >AWARDS</h6>
            <h3 class="ml-5 text-primary">Awards</h3>
            <p class="ml-5">NTTF is a proud recipient of various awards and certifications. Some of the prestigious awards are mentioned below.<br><br>

            Regional Level Chapter Convention Quality Circle Competition 2011, held at Mysore, conducted by QCFI, Bangalore Chapter, where NTTF BTC’s 1st and 2nd-year students won the gold medal. This competition witnessed the participation of 300+ industries from all over India.<br><br>
                
            Chapter Level Quality Circle Competition 2011, held at SJBIT institution, Kengeri, Bangalore, conducted by QCFI, Bangalore Chapter, where NTTF BTC’s 1st and 2nd-year students won the bronze medal. This competition witnessed the participation of 300+ industries from all over India.</p>
          </div>
        </div>
    </div>
</div>
{%endblock%}