{% extends 'mainbase.html' %}
{%block title%}
Organization page
{%endblock%}
{%block content%}
{%load static%}
<div class="container-fluid">
    <div>
        <img src="https://www.nttftrg.com/sites/default/files/2020-06/0144ffcf8aca30544a9a00ffc754910f_0.jpg" class="img-fluid" style="width:210vh" alt="Responsive image">
    </div>
    <div class="container">
        <div class="row">
          <div class="mt-5" style="float:left">
            <img src="{%static 'images/home/nttf.png'%}" style="height:50vh;width:78vh">
          </div>
          <div class="w-50 mt-5" style="float:right;">
            <h6 class="ml-5 p-2 mt-1" style="background-color:lightgray;height:5vh" >ABOUT NTTF</h6>
            <h3 class="ml-5 text-primary">Explore Our Journey</h3>
            <p class="ml-5">Dr Heinrich Hellstern, Director of HEKS (a Swiss NGO), through his noble gesture, set the ball rolling for opening a Technical Training institute at Nettur, Tellicherry (Kerala), in 1959. Nettur Technical Training Foundation was formed in 1963. NTTF is the repository of active technical support and knowledge transfer from Swiss industry and training institutions. The seed was sown 50 years ago - the decision to start tool and die-making courses at Tellicherry - has grown into a productive plant, surpassing even the most optimistic of expectations. The foundation has successfully developed itself and promoted technical training to suit the needs of the society, all across India.</p>
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <h3 class="text-primary ml-5">Milestones</h3>
        <div class="container">
        <table class="table table-dark">
        <h3>Core centers</h3>
        <thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Core Centers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1959</th>
            <td>NTTF Technical Training Centre, Nettur, Tellicherry, Kerala</td> 
          </tr>
          <tr>
            <th scope="row">1964</th>
            <td>NTTF Technical Training Centre, Dharwad, Karnataka</td> 
          </tr>
          <tr>
            <th scope="row">1982</th>
            <td>NTTF Technical Training Centre, Electronic City, Bengaluru</td>
          </tr>
          <tr>
            <th scope="row">2013</th>
            <td>INKEL-NTTF Technical Training Centre at Malappuram, Kerala</td>
          </tr>	
          	
        </tbody>
      </table>
    </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
          <div class="w-50 mt-1 " style="float:left;">
            <h3 class="mt-3 text-primary ml-5">Vision</h3>
            <p class="mt-3 ml-5">To become a premier institution in technical training and education, creating the most sought after trainees through customer-focused programs that cater to the needs of our society.</p>
            <h3 class="mt-3 text-primary ml-5">Mission</h3>
            <p class="mt-3 ml-5">Technical education for global competence.</p>
          </div>
          <div class="mt-2" style="float:right">
            <img src="https://www.nttftrg.com/uploads/page_contents/9099bb69ee45b2dc32db25c0cbee22d3.jpg" style="height:50vh;width:95vh">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="mt-5" style="float:left">
            <img class="ml-5" src="https://www.nttftrg.com/uploads/page_contents/55856a38d4521707da307bf36a4edfe0.jpg" style="height:55vh;width:78vh">
          </div>
          <div class="w-50 mt-5 ml-5" style="float:right;">
            <h6 class=" p-2 mt-1 text-primary" style="background-color:lightgray;height:5vh" >Integrated Management System Policy</h6>
            <p>
                <ul style="text-style-tyle:circle">
                <li>To train the youth in employable skills through holistic training</li>
                <li>To inculcate the culture of “Producing value during training and using that for society’s betterment”</li>
                <li>To be up-to-date with the technological developments</li>
                <li>To support industries and institutes in the dissemination of technical and industrial knowledge and skills</li>
                <li>To enhance the quality status of centers</li>
                <li>To achieve training man-hours</li>
                <li>To conserve energy and resources</li>
                <li>To reduce waste generation</li>
                <li>To ensure hazard-free work environment</li>
                <li>To make compliance with EOHS legal and other requirements</li>
                </ul>
                NTTF is an IMS Certified Training Institute with ISO 21001, ISO 9001, ISO 14001 & ISO 45001 certifications.
            </p>
          </div>
        </div>
    </div>
</div>


{%endblock%}